 
        <h1> Home Layout rendered</h1>
        <section id="feedPosts">
                <h4>Post </h4>
                <% if(locals.user){%> 
                <form action="post/create" method="POST">
                <textarea name="content" id="" cols="30" rows="5" placeholder="Type here....."></textarea>
                <input type="submit" value="Post">
                </form>
                <%} %>
                <div id="post-display-container">
                        <ul>
                                <li>
                <%  for(const i of post) 
                { %>
                        <p><%=i.content %>
                                <br>
                                <small>
                                <%=i.user.name%>
                                </small>
                                <h1> <%=i.comments%></h1>
                        </p>
                        <div class="post-comments">
                                <%if(locals.user){ %>
                                        <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Type here to Comment....">
                                
                                <input type="hidden" name="post" value="<%=i._id%>">
                                <input type="submit" value="Add Comment">
                                        </form>

                                        <% } %>
                                        <div class="post-comments-list">
                                              
                                        </div>
                        </div>

                </li>
                <% } %>
                </ul>
        </div>
        </section>
   