<form action="/users/create" method="POST">
<input type="text" placeholder="Enter your name" name="name">
<input type="email" name="email" placeholder="Enter Your email">
<input type="password" name="password" placeholder="Enter Password">
<input type="password" name="confirmpassword" placeholder="Confirm Password">
<input type="submit" value="Sign Up">
</form>
<p>
    <a href="/users/auth/google">Google Sign-in / Sign-up</a>
</p>