<form action="/user/create" method="POST">
<input type="text" placeholder="Enter your name">
<input type="email" name="email" placeholder="Enter Your email">
<input type="password" name="password" placeholder="Enter Password">
<button type="submit"> Sign Up</button>
</form>